@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #1e2875;
    --secondary: #bab6eb;
    --border-color: #ebebee;
    --smoke: #f0effa;
    --golden: #ffce10;
    --demon: #1f1f1f;
}
/*scrollbar style*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--smoke);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 5px;
}
@layer utilities {
    .paper {
        @apply bg-white py-3 px-4 border-2 rounded-lg shadow;
    }
}
